@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 34 33% 96%;
    --foreground: 0 0% 17%;
    --card: 34 33% 96%;
    --card-foreground: 0 0% 17%;
    --popover: 34 33% 96%;
    --popover-foreground: 0 0% 17%;
    --primary: 125 12% 20%;
    --primary-foreground: 34 33% 96%;
    --secondary: 30 23% 44%;
    --secondary-foreground: 34 33% 96%;
    --muted: 34 25% 91%;
    --muted-foreground: 30 10% 45%;
    --accent: 43 85% 38%;
    --accent-foreground: 34 33% 96%;
    --destructive: 358 44% 45%;
    --destructive-foreground: 34 33% 96%;
    --border: 34 18% 85%;
    --input: 34 18% 85%;
    --ring: 43 85% 38%;
    --chart-1: 43 85% 38%;
    --chart-2: 150 22% 44%;
    --chart-3: 125 12% 20%;
    --chart-4: 100 22% 46%;
    --chart-5: 30 23% 44%;
    --radius: 0.5rem;
    --sidebar-background: 34 25% 93%;
    --sidebar-foreground: 0 0% 17%;
    --sidebar-primary: 125 12% 20%;
    --sidebar-primary-foreground: 34 33% 96%;
    --sidebar-accent: 34 25% 88%;
    --sidebar-accent-foreground: 0 0% 17%;
    --sidebar-border: 34 18% 85%;
    --sidebar-ring: 43 85% 38%;
  }
  .dark {
    --background: 60 4% 10%;
    --foreground: 34 20% 87%;
    --card: 60 4% 13%;
    --card-foreground: 34 20% 87%;
    --popover: 60 4% 13%;
    --popover-foreground: 34 20% 87%;
    --primary: 34 20% 79%;
    --primary-foreground: 60 4% 10%;
    --secondary: 30 17% 56%;
    --secondary-foreground: 60 4% 10%;
    --muted: 60 4% 16%;
    --muted-foreground: 34 12% 58%;
    --accent: 46 78% 46%;
    --accent-foreground: 60 4% 10%;
    --destructive: 358 42% 56%;
    --destructive-foreground: 34 33% 96%;
    --border: 60 5% 19%;
    --input: 60 5% 19%;
    --ring: 46 78% 46%;
    --chart-1: 46 78% 46%;
    --chart-2: 150 25% 54%;
    --chart-3: 34 20% 79%;
    --chart-4: 100 25% 50%;
    --chart-5: 30 17% 56%;
    --sidebar-background: 60 4% 10%;
    --sidebar-foreground: 34 20% 87%;
    --sidebar-primary: 34 20% 79%;
    --sidebar-primary-foreground: 60 4% 10%;
    --sidebar-accent: 60 4% 16%;
    --sidebar-accent-foreground: 34 20% 87%;
    --sidebar-border: 60 5% 19%;
    --sidebar-ring: 46 78% 46%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
}
